<!--autorization modal-->
    <div class="modal fade" id="autorization">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Авторизация</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="почта" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="пароль" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" />
                                чужой компьютер
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p><a href="1.html" class="btn btn-danger btn-sm">Войти</a></p>
                    <p><a href="1.html" class="btn btn-primary btn-sm">Зарегистрироваться</a></p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--map-->
    <div id="map_canvas" class="map"></div>
    <!--/map-->
    <div class="row site">
        <div class="col-md-1 general_menu startpage">
            <ul>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-chef"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-football-soccer"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-controllerps"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-leaf"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-shopping"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-student-school"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-wine"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-wallet"></i></a>
                </li>
                <li>
                    <a href="#" class="gradientmenu"><i class="icon-bus"></i></a>
                </li>
            </ul>
        </div>
        <!--Content-->
        <div class="col-md-11 general_content_styles index_content" id="cont">
            <!--Header-->
            <div class="row">
                <div class="col-md-12 header">
                    <div class="logo">
                        <a href="#">
                            <img src="/images/logo.png" alt="..."/></a>
                    </div>
                    <div class="autorization_btn"><a data-toggle="modal" href="#autorization" class="btn btn-danger btn-sm">Зарегистрироваться</a></div>
                </div>
            </div>
            <!--/Header-->
                 <!--Map open (for adaptive)-->
            <div class="row map_open">
                <div class="col-md-12">
                    <a href="#" id="map_open">Открыть карту</a>
                </div>
            </div>
              <!--/Map open (for adaptive)-->
            <!--search-->
            <div class="row">
                <div class="col-md-12">
                    <div class="row search_block">
                        <div class="text_in_search">Найди новые места для отдыха</div>
                        <div class="search">
                            <input type="text" class="form-control  input-sm" id="exampleInputEmail2" placeholder="Укажи почту" />
                        </div>
                        <a href="4.html" class="btn btn-warning col-md-2 btn-sm">Найти</a>
                    </div>
                </div>
            </div>
            <!--/search-->
            <!--Features-->
            <div class="row features">
                <div class="col-md-6">
                    <h4><i class="icon-groups-friends"></i>Узнать историю</h4>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                </div>
                <div class="col-md-6">
                    <h4><i class="icon-thumbs-up"></i>Сделать крутую фотосессию</h4>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                </div>
                <div class="col-md-6">
                    <h4><i class="icon-automobile-car"></i>Отдохнуть кампанией</h4>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                </div>
                <div class="col-md-6">
                    <h4><i class="icon-addfriend"></i>Открыть что нибудь новое</h4>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                </div>
            </div>
            <!--/Features-->
            <!--tooltip-->
            <div class="jumbotron">
                <div class="container">
                    <h2>Нас уже 1 000 000 человек!</h2>
                    <p><a class="btn btn-danger btn-sm">Подробнее</a></p>
                </div>
            </div>
            <!--/tooltip-->
            <!--places-->
            <h3>Лучшие места за сегодня</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!--place-->
                        <div class="col-sm-6 col-md-4 places">
                            <div class="thumbnail">
                                <img src="img/demo01.png" alt="..." />
                                <div class="caption">
                                    <a href="3.html">Thumbnail label</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                                    <p>
                                        <img src="img/start.gif" alt="..."/>
                                        <a href="3.html" class="btn btn-default btn-xs"><i class="icon-user"></i>87</a><a href="#" class="btn btn-default btn-xs"><i class="icon-commentround"></i>12</a><a href="#" class="btn btn-default btn-xs ping"><i class="icon-map-marker"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/place-->
                        <!--place-->
                        <div class="col-sm-6 col-md-4 places">
                            <div class="thumbnail">
                                <img src="img/demo01.png" alt="..." />
                                <div class="caption">
                                    <a href="3.html">Thumbnail label</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                                    <p>
                                        <img src="img/start.gif" alt="..."/>
                                        <a href="3.html" class="btn btn-default btn-xs"><i class="icon-user"></i>87</a><a href="#" class="btn btn-default btn-xs"><i class="icon-commentround"></i>12</a><a href="#" class="btn btn-default btn-xs ping"><i class="icon-map-marker"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/place-->
                        <!--place-->
                        <div class="col-sm-6 col-md-4 places">
                            <div class="thumbnail">
                                <img src="img/demo01.png" alt="..." />
                                <div class="caption">
                                    <a href="3.html">Thumbnail label</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                                    <p>
                                        <img src="img/start.gif" alt="..."/>
                                        <a href="3.html" class="btn btn-default btn-xs"><i class="icon-user"></i>87</a><a href="#" class="btn btn-default btn-xs"><i class="icon-commentround"></i>12</a><a href="#" class="btn btn-default btn-xs ping"><i class="icon-map-marker"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/place-->
                        <!--place-->
                        <div class="col-sm-6 col-md-4 places">
                            <div class="thumbnail">
                                <img src="img/demo01.png" alt="..." />
                                <div class="caption">
                                    <a href="3.html">Thumbnail label</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                                    <p>
                                        <img src="img/start.gif" alt="..."/>
                                        <a href="3.html" class="btn btn-default btn-xs"><i class="icon-user"></i>87</a><a href="#" class="btn btn-default btn-xs"><i class="icon-commentround"></i>12</a><a href="#" class="btn btn-default btn-xs ping"><i class="icon-map-marker"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/place-->
                        <!--place-->
                        <div class="col-sm-6 col-md-4 places">
                            <div class="thumbnail">
                                <img src="img/demo01.png" alt="..." />
                                <div class="caption">
                                    <a href="3.html">Thumbnail label</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                                    <p>
                                        <img src="img/start.gif" alt="..."/>
                                        <a href="3.html" class="btn btn-default btn-xs"><i class="icon-user"></i>87</a><a href="#" class="btn btn-default btn-xs"><i class="icon-commentround"></i>12</a><a href="#" class="btn btn-default btn-xs ping"><i class="icon-map-marker"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/place-->
                        <!--place-->
                        <div class="col-sm-6 col-md-4 places">
                            <div class="thumbnail">
                                <img src="img/demo01.png" alt="..." />
                                <div class="caption">
                                    <a href="3.html">Thumbnail label</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
                                    <p>
                                        <img src="img/start.gif" alt="..."/>
                                        <a href="3.html" class="btn btn-default btn-xs"><i class="icon-user"></i>87</a><a href="#" class="btn btn-default btn-xs"><i class="icon-commentround"></i>12</a><a href="#" class="btn btn-default btn-xs ping"><i class="icon-map-marker"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/place-->
                    </div>
                </div>
            </div>
            <!--/places-->
        </div>
        <!--/Content-->
    </div>
