<!DOCTYPE html>
<html>
<head>
    <title><%= "Ride2.ru | Welcome" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<%= stylesheet_link_tag    "application"%>
	<%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    
    <!--Google maps API linl-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCsbzuJDUEOoq-jS1HO-LUXW4qo0gW9FNs&sensor=false"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]> <script src="../../assets/js/html5shiv.js"></script> <script src="../../assets/js/respond.min.js"></script> <![endif]-->
</head>
<body onload="initialize()">

<%= yield %>

</body>
</html>
